#establecimientos_paso_2015_caba {
  marker-opacity: 0.7;
  marker-allow-overlap: true;
  marker-line-width: 0;
  marker-line-opacity: 1;
  [zoom = 6] {
    marker-width: 5 + ([margin_of_victory] / [sqrt_positivos]) * 1;
  <% _.each(_.pairs(colores), function(p) { %>
    [id_partido=<%- p[0] %>] {
      marker-fill: <%- p[1] %>;
      marker-line-color: <%- p[1] %>;
    }
  <% }); %>
  }
  [zoom = 7] {
  marker-width: 5 + ([margin_of_victory] / [sqrt_positivos]) * 2;
  <% _.each(_.pairs(colores), function(p) { %> 
    [id_partido=<%- p[0] %>] { 
    marker-fill: <%- p[1] %>; 
    marker-line-color: <%- p[1] %>; 
    } 
  <% }); %> 
  } 
  [zoom = 8] { 
  marker-width: 5 + ([margin_of_victory] / [sqrt_positivos]) * 4; 
  <% _.each(_.pairs(colores), function(p) { %> 
    [id_partido=<%- p[0] %>] { 
    marker-fill: <%- p[1] %>; 
    marker-line-color: <%- p[1] %>; 
    } 
  <% }); %> 
  } 
  [zoom = 9] { 
  marker-width: 5 + ([margin_of_victory] / [sqrt_positivos]) * 8; 
  <% _.each(_.pairs(colores), function(p) { %> 
    [id_partido=<%- p[0] %>] { 
    marker-fill: <%- p[1] %>; 
    marker-line-color: <%- p[1] %>; 
    } 
  <% }); %> 
  } 
  [zoom = 10] { 
  marker-width: 5 + ([margin_of_victory] / [sqrt_positivos]) * 16; 
  <% _.each(_.pairs(colores), function(p) { %> 
    [id_partido=<%- p[0] %>] { 
    marker-fill: <%- p[1] %>; 
    marker-line-color: <%- p[1] %>; 
    } 
  <% }); %> 
  } 
  [zoom = 11] { 
  marker-width: 5 + ([margin_of_victory] / [sqrt_positivos]) * 32; 
  <% _.each(_.pairs(colores), function(p) { %> 
    [id_partido=<%- p[0] %>] { 
    marker-fill: <%- p[1] %>; 
    marker-line-color: <%- p[1] %>; 
    } 
  <% }); %> 
  } 
  [zoom = 12] { 
  marker-width: 5 + ([margin_of_victory] / [sqrt_positivos]) * 64; 
  <% _.each(_.pairs(colores), function(p) { %> 
    [id_partido=<%- p[0] %>] { 
    marker-fill: <%- p[1] %>; 
    marker-line-color: <%- p[1] %>; 
    } 
  <% }); %> 
  } 
  [zoom = 13] { 
  marker-width: 5 + ([margin_of_victory] / [sqrt_positivos]) * 100; 
  <% _.each(_.pairs(colores), function(p) { %> 
    [id_partido=<%- p[0] %>] { 
    marker-fill: <%- p[1] %>; 
    marker-line-color: <%- p[1] %>; 
    } 
  <% }); %> 
  } 
  [zoom >= 14] { 
  marker-width: 5 + ([margin_of_victory] / [sqrt_positivos]) * 128; 
  <% _.each(_.pairs(colores), function(p) { %> 
    [id_partido=<%- p[0] %>] { 
    marker-fill: <%- p[1] %>; 
    marker-line-color: <%- p[1] %>; 
    }
  <% }); %> 
  }
}