#establecimientos_paso_2015_caba {
  marker-opacity: 0.5;
  marker-allow-overlap: true;
  marker-line-width: 1;
  marker-line-opacity: 1;
  [zoom = 12] {
    marker-width: 5 + ([margin_victory] / [sqrt_positivos]) * 16;
  <% _.each(_.pairs(colores), function(p) { %>
    [id_partido=<%- p[0] %>] {
      marker-fill: <%- p[1] %>;
      marker-line-color: white;
    }
  <% }); %>
  }
  [zoom = 13] {
  marker-width: 5 + ([margin_victory] / [sqrt_positivos]) * 32;
  <% _.each(_.pairs(colores), function(p) { %> 
    [id_partido=<%- p[0] %>] { 
    marker-fill: <%- p[1] %>; 
    marker-line-color: <%- p[1] %>; 
    } 
  <% }); %> 
  } 
  [zoom = 14] { 
  marker-width: 5 + ([margin_victory] / [sqrt_positivos]) * 64; 
  <% _.each(_.pairs(colores), function(p) { %> 
    [id_partido=<%- p[0] %>] { 
    marker-fill: <%- p[1] %>; 
    marker-line-color: <%- p[1] %>; 
    } 
  <% }); %> 
  } 
  [zoom = 15] { 
  marker-width: 5 + ([margin_victory] / [sqrt_positivos]) * 128; 
  <% _.each(_.pairs(colores), function(p) { %> 
    [id_partido=<%- p[0] %>] { 
    marker-fill: <%- p[1] %>; 
    marker-line-color: <%- p[1] %>; 
    } 
  <% }); %> 
  } 
  [zoom = 16] { 
  marker-width: 5 + ([margin_victory] / [sqrt_positivos]) * 256; 
  <% _.each(_.pairs(colores), function(p) { %> 
    [id_partido=<%- p[0] %>] { 
    marker-fill: <%- p[1] %>; 
    marker-line-color: <%- p[1] %>; 
    } 
  <% }); %> 
  } 
  [zoom = 17] { 
  marker-width: 5 + ([margin_victory] / [sqrt_positivos]) * 512; 
  <% _.each(_.pairs(colores), function(p) { %> 
    [id_partido=<%- p[0] %>] { 
    marker-fill: <%- p[1] %>; 
    marker-line-color: <%- p[1] %>; 
    } 
  <% }); %> 
  } 
  [zoom = 18] { 
  marker-width: 5 + ([margin_victory] / [sqrt_positivos]) * 1024; 
  <% _.each(_.pairs(colores), function(p) { %> 
    [id_partido=<%- p[0] %>] { 
    marker-fill: <%- p[1] %>; 
    marker-line-color: <%- p[1] %>; 
    } 
  <% }); %> 
  } 
  [zoom = 19] { 
  marker-width: 5 + ([margin_victory] / [sqrt_positivos]) * 2048; 
  <% _.each(_.pairs(colores), function(p) { %> 
    [id_partido=<%- p[0] %>] { 
    marker-fill: <%- p[1] %>; 
    marker-line-color: <%- p[1] %>; 
    } 
  <% }); %> 
  } 
  [zoom >= 20] { 
  marker-width: 5 + ([margin_victory] / [sqrt_positivos]) * 4096; 
  <% _.each(_.pairs(colores), function(p) { %> 
    [id_partido=<%- p[0] %>] { 
    marker-fill: <%- p[1] %>; 
    marker-line-color: <%- p[1] %>; 
    }
  <% }); %> 
  }
}