<p>Elaborado con datos de <a target="_blank" href="http://www.resultados.gob.ar">Dirección Nacional Electoral</a>, <a target="_blank" href="http://www.mapaeducativo.edu.ar">Ministerio de Educación</a> y procesamiento propio</p>
<p>Resultados a nivel mesa agregados por establecimiento para precandidatos a intendente (PASO 2015)</p>
<p>
    <strong>Producción de datos</strong>: Inés Pujana, Florencia Coelho, Guadalupe López
</p>
<p>
    <strong>Programación y procesamiento de datos</strong>: <a href="http://juanelosua.com" target="_blank">Juan Elosua</a> (<a target="_blank" href="http://www.opennews.org/">Knight-Mozilla OpenNews</a>)
</p>
<p>
    <strong>Jefe de diseño interactivo</strong>: Juan Diego López
</p>
<p>
    <strong>Editor responsable</strong>: Gastón Roitberg
</p>
<p style="width: 100%; text-align: right">
    <button>cerrar</button>
</p>