	<a class="cerrar" href="#" onclick="close_slide(); return false;">x</a>
	<div id="x_fuerza">
		<div class="porc_text">
			<div style="margin-bottom: 0px" class="porc_partido"><b>{{e.nombre}} </b></div>
			<div style="margin-bottom: 5px" class="porc_partido">{{e.direccion}}</div>
		</div>
		<ul id="list">
			{{#each data}}			
				{{!--
				<li class="{{chekIsLessThan15}}">
				--}}
				<li>
					<h5 
						style="padding-left:1.8%;">{{get_partido}} <span>{{toFixed_n_0 votos}} votos</span>
					</h5>
					<div class="cont_barra">
						<div class="barra" data-width="{{get_width_bar pct ../max}}%" style="width:0; background: {{get_partido_color}}">
							<div class="porc">{{toFixed_n pct}}%</div>
						</div>
					</div>
				</li>

			{{/each}}
			
		</ul>
		<div style="margin-top: 5px" class="porc_partido"><b>Participación: </b>{{e.votantes }} votantes ({{division e}}% del total de electores)</div>
	</div>